:root {
    --mainColor: #dc3317;
}

body.no-scroll {
    overflow-y: hidden;
    overflow: hidden;
}

.mod_ixcnb_cookie_notice {
    display: none;
}

.mod_ixcnb_cookie_notice.show {
    display: block;
    position: fixed;
    z-index: 999999999;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 50px;
    background: rgba(0,0,0,0.8);
}


.mod_ixcnb_cookie_notice.showAlways {
    display: block;
}

.mod_ixcnb_cookie_notice.show .notice-wrapper {
    background: #ffffff;
    position: fixed;
    top: 20%;
    left: 50%;
    z-index: 999999999;
    width: 100%;
    max-width: 900px;
    padding: 30px;
    margin-bottom: 20px;
    overflow-y: scroll;
    width: 90%;
    min-height: 200px;
    max-height: 95%;
    height: auto;
    padding: 15px;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mod_ixcnb_cookie_notice .cookieHeadline {
    font-size: 1.5rem;
    color: #000;
    color: var(--mainColor);
}

.mod_ixcnb_cookie_notice ul li p.headline {
    margin-bottom: 0;
}

.notice-wrapper .layout-row {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.notice-wrapper .layout-row.buttons,
.notice-wrapper .layout-row.details {
    justify-content: flex-end;
}

.notice-wrapper .layout-row.buttons button {
    margin-left: 2rem;
}

.layout-row .checkBoxOption {
    min-width: 150px;
    min-height: 30px;
    margin: 10px 0;
    width: 25%;
}

.checkBoxOption label {
    font-weight: 400;
    position: relative;
    font-size: 18px;
    line-height: 20px;
    padding-left: 35px;
    color: #666666;
}

.checkBoxOption label:hover {
    cursor: pointer;
    color: #414E63;
    color: var(--mainColor);
}

.checkBoxOption label .greyed-text {
    color: #cccccc;
}

.checkBoxOption input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkBoxOption .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #666;
}

.checkBoxOption input:checked ~ .checkmark {
    background-color: #05164D;
    border-color: #05164D;
}

.checkBoxOption .greyed-text input:checked ~ .checkmark {
    background-color: #cccccc;
    border-color: #cccccc;
}

.checkBoxOption .checkmark::after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-sizing: inherit;

    content: "";
    position: absolute;
    display: none;
}

.checkBoxOption input:checked ~ .checkmark::after {
    display: block;
}

.layout-row.detail .toggler {
    cursor: pointer;
    padding-left: 35px;
}

.layout-row.details > p {
    padding-right: 13px;
}

.toggleIcon {
    padding-top: 4px;
    padding-left: 13px;
    display: inline-block;
    transform: rotate(180deg);
    margin-left: 2px;
    position: relative;
    width: 12px;
    height: 20px;
    top: 5px;
    transition: 200ms ease all;
}

.toggleIcon.collapsed {
    transform: none !important;
}

.toggleIcon:before {
    content: "";
    border-left: 2px solid #52627C;
    border-bottom: 2px solid #52627C;
    border-color: var(--mainColor);
    width: 8px;
    height: 8px;
    float: left;
    transform: rotate(-45deg);
    margin-top: 2px;

    transition: 200ms ease all;
}

.checkBoxOption .ui-accordion-header-active .toggleIcon:before {
    transform: rotate(135deg);
    margin-top: 4px;

    transition: 200ms ease all;
}

.mod_ixcnb_cookie_notice .button-primary {
    display: block;
    padding: 10px;
    background: #000;
    border: 2px solid #000;
    background: var(--mainColor);
    border-color: var(--mainColor);
    color: #fff;
    font-weight: 600;
    cursor: pointer;

    transition: all .3s;
}

.mod_ixcnb_cookie_notice .button-primary:hover {
    background: #fff;
    border: 2px solid #ccc;
    color: #000;
    color: var(--mainColor);
}

.mod_ixcnb_cookie_notice .button-outline {
    display: block;
    padding: 10px;
    background: transparent;
    border: 2px solid #ccc;
    color: #000;
    color: var(--mainColor);
    font-weight: 600;
    cursor: pointer;

    transition: all .3s;
}

.mod_ixcnb_cookie_notice .button-outline:hover {
    background: #000;
    background: var(--mainColor);
    border: 2px solid #000;
    border: 2px solid var(--mainColor);
    color: #fff;
}

@media only screen and (max-width: 42.5em)
{
    .mod_ixcnb_cookie_notice h1 {
        font-size: 1.5rem;
		margin: 0;
	}

	.mod_ixcnb_cookie_notice p {
        font-size: .88rem;
        line-height: 1.3;
    }

	.mod_ixcnb_cookie_notice.show .notice-wrapper {
        top: 3%;
        width: 90%;
        height: 90vh;
        max-height: 700px;
        margin-bottom: 0;
		padding: 15px;
		overflow-y: scroll;
	}

	.layout-row .checkBoxOption {
		width: 100%;
        margin: 5px;
        position: relative;
    }

    .toggleIcon {
        padding-left: 4px;
    }

    .cnb-details {
        padding-top: 8px;
    }

    .layout-row .checkBoxOption .toggler > p {
        position: absolute;
        top: -5px;
        right: 0;
    }

	.notice-wrapper .layout-row.buttons button {
		width: 100%;
        margin-left: 0;
    }

    #cn-selectAllCheckboxes {
        order: 1;
    }
    #cn-selectSpecific-Popup {
        order: 2;
    }
}