asgiref==3.11.0
beautifulsoup4==4.14.3
bootstrap4==0.1.0
cloudpickle==3.1.2
colorama==0.4.6
Django==5.2.9
django-bootstrap4==25.3
django-forms-bootstrap==3.1.0
joblib==1.5.3
llvmlite==0.46.0
numba==0.63.1
numpy==2.4.0
packaging==25.0
pandas==2.1.0
shap==0.50.0
six==1.17.0
slicer==0.0.8
soupsieve==2.8.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.3
xgboost==3.1.2
